/* Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Home.js  */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  padding-left: 0.5em;
}

/* AddItem.js */

ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  font-size: 2rem;
}

li {
  padding-right: 20px;
}

.active {
  font-weight: bold;
  text-decoration: none;
}

input {
  font-size: 1.5rem;
}

/* input[type='radio'] {
  margin-right: 5px;
  margin-left: 15px;
} */

.links a {
  color: #198753;
}

/* Footer.js */

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
}
