/* Reset CSS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Home.js  */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* List Page Style*/

.list-container {
  background-color: #eee;
}

.input-group {
  width: auto;
}

input[type='search'],
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-list {
  padding: 12px 20px;
  margin: 8px 0;
}

.item-name {
  padding-left: 0.5rem !important;
  margin-bottom: 0;
  padding-top: 6px;
}

.check {
  margin-top: 10px;
  margin-left: 10px;
}

.green-bg,
.yellow-bg,
.purple-bg,
.red-bg {
  color: #ffffff;
  font-weight: bolder;
  border-radius: 10px !important;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.green-bg:hover {
  box-shadow: 0px 12px 30px 0px #6ecb63;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.yellow-bg:hover {
  box-shadow: 0px 12px 30px 0px #f1c550;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.purple-bg:hover {
  box-shadow: 0px 12px 30px 0px #b97a95;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.red-bg:hover {
  box-shadow: 0px 12px 30px 0px #fe5f55;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.green-bg {
  background-color: #6ecb63;
}

.yellow-bg {
  background-color: #f1c550;
}

.purple-bg {
  background-color: #b97a95;
}

.red-bg {
  background-color: #fe5f55;
}

/* AddItem.js */

ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  font-size: 2rem;
}

li {
  padding-right: 20px;
}

.active {
  font-weight: bold;
}

.nav-item > a {
  text-decoration: none;
}

.selected {
  background-color: #23a166 !important;
}

input {
  font-size: 1.5rem;
}

.links a {
  color: #198753;
}

.footer {
  margin-top: 5px;
}

.list-container {
  height: 90vh !important;
  overflow: auto !important;
}
